<h4 class="text-xl mt-5 font-serif text-black-600"> Upcomming sessions</h4>

            <% for(var i=0; i<sessions.length; i++) { %>
                <%   if(new Date(sessions[i].time) > new Date()) { %>
                         <div
                            class="max-w-m mt-4 p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <%= sessions[i].address %>
                            </h5>
                            <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">
                                <%= sessions[i].time %>
                            </p>
                            <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">
                                <%= joinedsports[i].name %>
                            </p>
                            <% if(sessions[i].sessioncreated) { %>
                            <a href="/createdsession/<%= sessions[i].id %>"
                                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                View
                                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </a>
                            <% } %>
                            <% if(!sessions[i].sessioncreated) { %>
                            <p class="mb-3 font-normal text-red-700 dark:text-red-400">
                                Session Cancled because of : <%= sessions[i].reason %>
                            </p>
                            <% } %>    
                        </div>
                        <% } %>    
            <% } %> 