<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Sports Scheduler</title>
</head>

<body class="bg-stone-300">
    <%- include('header') %>
        <a href="/signout" class="text-red-900 text-sm px-2 py-1 absolute top-2 right-2">Signout</a>
        <div class="container mx-auto px-10 py-4">
            <h1 class="text-4xl font-serif text-grey-600 mb-90">
                <%= sport.name %>!
            </h1>
            </h1>
            <div class="flex mb-4">
                <a href="/createsession/<%=sport.id%>" class="mr-4 text-xl font-serif text-sky-900 hover:underline">Create
                    Session</a>
            </div>
            <hr class="bg-zinc-100 h-px">
            <h3 class="text-2xl font-serif text-black-600">Available Sessions</h3>
            <h4 class="text-xl mt-5 font-serif text-black-600">your sessions </h4>
              <% c=0 %>

            <% for(var i=0; i<sessions.length; i++) { %>
                <% if( userdetils.id==sessions[i].userId ){%>
                    <% c=1 %>
                    <div
                        class="max-w-m mt-4 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <%= sessions[i].address %>
                        </h5>

                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            <%= sessions[i].time %>
                        </p>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            <%= ( sessions[i].playerscount - sessions[i].playernames.length )%> slots available
                        </p>
                        <a href="/createdsession/<%= sessions[i].id %>"
                            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            View
                            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>
                <% } %>
             <% } %>
             <% if (c==0) {%>
                <p class="text-m mt-5 font-serif text-black-300">No sessions available</p>
             <% } %>
        <% c=0 %>
        <h4 class="text-xl mt-5 font-serif text-black-600">other sessions</h4>

            <% for(var i=0; i<sessions.length; i++) { %>
                     <% if( userdetils.id !=sessions[i].userId ){%>
                        <% c=1 %>
                         <div
                            class="max-w-m mt-4 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                <%= sessions[i].address %>
                            </h5>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                <%= sessions[i].time %>
                            </p>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                <%= ( sessions[i].playerscount - sessions[i].playernames.length )%> slots
                                    available
                            </p>
                            <a href="/createdsession/<%= sessions[i].id %>"
                                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                View
                                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                     <% } %>
                <% } %> 
                <% if (c==0) {%>
                    <p class="text-m mt-5 font-serif text-black-300">No sessions available</p>
                 <% } %>
            <h4 class="text-xl mt-5 font-serif text-black-600">joined sessions </h4>
        </div>
 </body>
</html>